@CHARSET "UTF-8";

/* 全局样式 */
*{
	position: relative;
	border:0px;
	padding:0px;
	margin:0px;
}

.hidden{
	visibility:hidden;
}

/* 局部属性 */

body{
	background-color: #f8f7f3;
	width:100%;
}

#header{
	position:relative;
	display:flex;
	align-items:center;
	justify-content:center;
	height:330px;
	width:100%;
}

#handwriting{
	position:absolute;
	left:24%;
	top:47px;
	z-index:1;
	opacity:0.3;
}

#middle{
	display:flex;
	align-items:center;
	justify-content:center;
	height:524.04px;
	width:100%;
}

#background-img {
	float:left;
	position:absolute;
	width:100%;
}

#curtain{
	position:absolute;
	height:100%;
	width:590px;
	padding:55px 0;
	background-color:white;
	opacity:0.6;
	border:1px solid #999999;
	border-radius:15px;
	box-shadow: 0px 0px 3px 3px #888888;
	top:-35px;
}
/*
#login{
	position:relative;
	height:100%;
	width:590px;
	padding-top:50px;
	padding-bottom:50px;
	background-color:white;
	opacity:0.6;
	border:1px solid #999999;
	border-radius:15px;
	box-shadow: 0px 0px 3px 3px #888888;
	top:15px;
}
*/
#login{
	position:relative;
	background:transparent;
	height:100%;
	width:590px;
	padding-top:50px;
	padding-bottom:50px;
	top:15px;
}

#login-container{	
	padding-top:35px;
	padding-left:95px;
	padding-right:95px;
	padding-bottom:35px;
}

#login-container > div{
	display:flex;
	align-items: center;
	height:105px;
	width:400px;
}

.user-info{
	font-size:36px;
	text-align:right;
}

.user-info-input{
	border: 1px solid #c9c9c9;
	font-size:36px;
	width:250px;
}

.user-option{
	position:relative;
	right:-10px;
	font-size:26px;
}

.user-option-input{
	height:25px;
	width:25px;
	background-color:white;
    -webkit-appearance:none;
    border: 1px solid #c9c9c9;

}

.user-option-input input[type=checkbox]:checked{
    content: '✓';
    top: 3px;
    left: 3px;
    position: absolute;
    background: transparent;
    border: #fff solid 2px;
    border-top: none;
    border-right: none;
    height: 6px;
    width: 10px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg);
}

.login-button{
	padding:10px 170px;
	background-color:#cc0000;
	font-size:30px;
	color:white;
	cursor:pointer;
	width:50%;
}

.td1{
	width:145px;
}


#footer{
	display:flex;
	align-items:center;
	justify-content:center;
	height:300px;
	width:100%;
}

#footer span{
	top:-30px;
	font-size:30px;
	color:#999999;
}

/* 复选框 */
input[type=checkbox].css-checkbox {
				position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:3px; margin:-1px; padding:0; border:0;
			}

			input[type=checkbox].css-checkbox + label.css-label {
				padding-left:40px;
				height:35px; 
				display:inline-block;
				line-height:30px;
				background-repeat:no-repeat;
				background-position: 0 0;
				font-size:25px;
				vertical-align:middle;
				cursor:pointer;

			}

			input[type=checkbox].css-checkbox:checked + label.css-label {
				background-position: 0 -30px;
			}
			label.css-label {
	/*background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_f60067e68146be412873f96f1d2458cd.png);*/
	background-image:url(../images/ht_lawyer_firm/check.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* 密码输入错误提示框 */
#password-error{
	position:absolute;
	right:0;
	font-size:18px;
	bottom:5%;
	width:250px;
	color:#cc0000;
	font-weight:bold;
}